psicquic-registry/src/main/resources/META-INF/schema/psicquic-registry.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - 30 Day Trial Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://hupo.psi.org/psicquic/registry" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://hupo.psi.org/psicquic/registry" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registry" type="registryType" />
  <xs:complexType name="registryType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="service" type="serviceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="soapUrl" type="xs:string" />
      <xs:element name="restUrl" type="xs:string" />
      <xs:element type="xs:string" name="restExample"/>
      <xs:element name="active" type="xs:boolean" />
      <xs:element name="count" type="xs:long" />
      <xs:element name="version" type="xs:string" />
      <xs:element name="organizationUrl" type="xs:string" />
      <xs:element name="comments" type="xs:string" />
      <xs:element name="restricted" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>